<footer style="padding: 0; flex-shrink: 0">
<nav class="container" style="display: flex; margin-top: 0; margin-bottom: 0; padding: 1em 0">
  <ul style="flex-shrink: 1">
    <li>
      <img src="/img/logo.svg" style="height: 1.5em; filter: grayscale(1)">
    </li>
  </ul>
  <ul style="gap: 2em; font-size: .8rem">
    <li><a href="mailto:support@reviewzap.io" class="secondary">Support</a></li>
    <li><a href="#" class="secondary">Terms and Conditions</a></li>
    <li><a href="#" class="secondary">Privacy Policy</a></li>
    <li><a href="#" class="secondary">Imprint</a></li>
  </ul>
</nav>
</footer>
