<footer class="bg-gray-50 dark:bg-gray-900">
    <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10 text-center md:text-left">
        <div class="md:flex gap-x-40 justify-center">
            <a href="/" class="flex items-center group justify-center mt-8 mb-12 md:my-0">
                <img src="/img/logo.svg" class="h-6 mr-3 sm:h-9" alt="Reviewzap Logo" />
                <span class="text-xl font-bold font-display text-gray-700 dark:text-gray-400 group-hover:text-gray-900 group-hover:dark:text-gray-100">reviewzap</span>
            </a>
            <div class="py-4">
              <h3 class="font-bold text-sm text-gray-600 dark:text-gray-300 uppercase py-4">Legal</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="/privacy/" class="hover:text-gray-900 dark:hover:text-gray-100">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="/terms/" class="hover:text-gray-900 dark:hover:text-gray-100">Terms</a>
                    </li>
                    <li>
                        <a href="/legal-notice/" class="hover:text-gray-900 dark:hover:text-gray-100">Legal Notice</a>
                    </li>
                </ul>
            </div>
            <div class="py-4">
              <h3 class="font-bold text-sm text-gray-600 dark:text-gray-300 uppercase py-4">Support</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="mailto:support@reviewzap.io" class="hover:text-gray-900 dark:hover:text-gray-100">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
