<div style="padding: 1em 0">
  <nav class="container" style="display: flex">
    <ul style="flex-shrink: 1">
      <li style="padding-left: 6px">
        <a href="/">
          <img src="/img/logo.svg" style="height: 2em">
        </a>
      </li>
    </ul>
    <ul style="flex-shrink: 0; gap: 1.5em; font-size: .8rem">
      <li>
        <a href="/beta/" class="contrast">Sign in</a>
      </li>
      <li>
        <a href="/beta/" role="button" style="padding: .5em 1em; font-size: .8rem">Get started</a>
      </li>
    </ul>
  </nav>
</div>
